.about {
  padding-top: em(100, 16);
}

.about__content {
  display: flex;
}

.about__details {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: em(33, 16);
  color: #3F3F3F;
  line-height: em(55, 33);
  margin-left: em(100, 33);
}

.about__details b {
  padding-bottom: em(2, 24);
  box-shadow: inset 0 em(-2, 24) 0 0 #DCF000;
}

.logos__list {
  width: em(400, 16);
  margin-left: em(100, 16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.logos__item {
  display: flex;
  width: 100%;
  padding: em(10, 16);
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logos__item:nth-child(odd) {
  border-right: em(1, 16) solid #F2F2F2;
}

.logos__item:nth-child(n+3) {
  border-top: em(1, 16) solid #F2F2F2;
}

.logos__img {
  filter: grayscale(1);
  transition: filter .3s cubic-bezier(.25, .46, .45, .94), -webkit-filter .3s cubic-bezier(.25, .46, .45, .94);
}

.logos__img:hover {
  filter: none;
}