@import 'form';

.contact--show {
  overflow: hidden;
}

.contact {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transform: translateY(1.875em);
  transition: visibility 0ms .3s, opacity .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94);
}

.contact--show .contact {
  visibility: visible;
  transition: visibility 0ms 0ms, opacity .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94);
}

.contact--show .contact, .contact--show .form {
  opacity: 1;
  transform: none;
}

.contact__close {
  height: 20px;
  width: 14px;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94);
}

.contact__close:hover, .contact__close:focus {
  transform: rotate(180deg);
}

.contact__logo {
  width: em(100, 16);
  display: block;
}

.contact__header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact__header {
  margin-top: em(60, 16);
  display: flex;
  justify-content: space-between;
}

.contact__header-content {
  padding: 0 em(80, 16);
}

.contact__top {
  padding: em(32, 16) 0 em(75, 16);
  background: #F2F2F2;
  position: relative;
}

.contact__container {
  max-width: em(1170, 16);
  margin: 0 auto;
}

.contact__card {
  position: relative;
}

.contact__separator {
  left: em(-80, 16);
  width: em(2, 16);
  min-height: 100%;
  background-image: url(../../../img/dot-line-vertical.svg);
}

.contact__text {
  width: em(350, 16);
}

.contact__title {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: em(48, 16);
  line-height: em(50, 48);
  color: #3F3F3F;
  margin-bottom: em(17, 48);
}

.contact__subtitle {
  text-transform: uppercase;
  color: #7C7A7A;
  font-size: em(13, 16);
  letter-spacing: em(1.5, 13);
  margin-bottom: em(30, 13);
}

.contact__link {
  color: #3F3F3F;
  display: block;
  line-height: em(25, 16);
  margin-top: em(18, 16);
}

.contact__link:focus, .contact__link:hover {
  color: #171F28;
}

.contact__bottom {
  position: relative;
  background: #FFFFFF;
}

.contact__bottom:before {
  content: '';
  display: block;
  position: absolute;
  height: em(70, 16);
  background-color: #F2F2F2;
  right: em(-20, 16);
  top: 0;
  width: 65%;
  transform: skew(25deg);
  border-bottom-left-radius: 6px;
}

.contact__bottom .pre {
  overflow: hidden;
}

.contact__menu {
  position: relative;
  z-index: 10;
  display: flex;
  gap: em(160, 16);
  margin: 0 em(50, 16);
  padding-top: em(25, 16);
}

.contact__anchor {
  color: #7C7A7A;
  padding: 0 0 em(27, 16);
  position: relative;
  display: inline-block;
  margin-right: em(60, 16);
  border-bottom: em(4, 16) solid transparent;
  transition: border-bottom-color .2s cubic-bezier(.25, .46, .45, .94), color .2s cubic-bezier(.25, .46, .45, .94)
}

.contact__anchor--active, .contact__anchor:focus, .contact__anchor:hover {
  border-bottom-color: #DCF000;
  color: #3F3F3F;
}

.close__svg {
  width: 100%;
  height: 100%;
}

.contact__expander {
  text-align: center;
  position: relative;
  display: none;
  margin-top: em(30, 16);
}

.contact__expander:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 0;
  height: 1px;
  background: #DDDDDD;
}

.contact__expander-link {
  background-color: #3F3F3F;
  color: #FFFFFF;
  font-size: em(13, 16);
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 1.2030075188em;
  padding: .4511278195em .977443609em .6015037594em;
  position: relative;
  z-index: 1;
}

.contact__expander-svg {
  height: em(8, 13);
  margin-left: em(10, 13);
}

.contact__expander--expanded .contact__expander-svg {
  transform: scaleY(-1);
}