.exp {
  margin-top: em(100, 16);
  background-image: url(../../../img/dot-grid.svg);
  background-size: em(8, 16);
  position: relative;
}

.exp__controls {
  position: absolute;
  bottom: em(50, 16);
  right: 55%;
  z-index: 5
}

.exp__control {
  display: inline-block;
  height: em(14, 16);
  width: em(30, 16);
  border-bottom: em(1, 16) solid #D4D3D3;
  margin-right: em(7, 16);
  position: relative;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94), border-width .2s cubic-bezier(.25, .46, .45, .94), transform .2s cubic-bezier(.25, .46, .45, .94)
}

.exp__control:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  z-index: 2;
  height: em(15, 16);
}

.exp__control--active {
  border-color: #3F3F3F
}

.exp__control:focus, .exp__control:hover {
  transform: translateY(em(1, 16));
  border-bottom-width: em(3, 16);
}

.exp__item {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  padding: em(30, 16) 0;
}

.exp__item--show {
  opacity: 1;
  pointer-events: all;
}

.exp__item--next {
  display: none;
}

.exp__date {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-size: em(68, 16);
  width: em(150, 68);
  text-align: center;
  line-height: em(100, 68);
}

.exp__text {
  font-family: hk_grotesklight, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: em(25, 16);
  line-height: em(40, 25);
  color: #7C7A7A;
  width: em(530, 25);
}