.footer__top {
  background-color: #313030;
  padding-top: em(70, 16);
  padding-bottom: em(70, 16);
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  gap: em(190, 16);
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: em(30, 16);
  max-width: em(140, 16);
}

.footer__social {
  display: block;
  width: em(40, 16);
  height: em(40, 16);
  padding: em(10, 16);
  border-radius: 50%;
  background: #262626;
  transition: background .3s cubic-bezier(.25, .46, .45, .94);
}

.footer__social:focus, .footer__social:hover {
  background: #3F3F3F;
}

.footer__logo {
  width: em(140, 16);
  height: em(70, 16);
}

.footer__title {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: em(13, 16);
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: em(1.4, 13);
  line-height: em(26, 13);
  margin-bottom: em(20, 13);
}

.footer__link {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7C7A7A;
  line-height: em(27, 16);
  display: block;
  margin-bottom: em(17, 16);
  transition: color .3s cubic-bezier(.25, .46, .45, .94)
}

.footer__link:hover {
  color: #C0C0C0;
}

.footer__bottom {
  padding-top: em(20, 16);
  padding-bottom: em(20, 16);
  background-color: #262626;
}

.footer__legals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__hepl, .footer__legals a {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, .6);
  font-size: em(13, 16);
  margin-right: em(16, 13);
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
  line-height: em(26, 13);
}

.footer__legal:hover {
  color: #FFFFFF;
}

.footer__hepl .hepl__link {
  font-size: em(13, 13);
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: hsla(0,0%,100%,.6);
}

.footer__hepl:hover .hepl__link {
  color: #FFFFFF;
}

.socials-svg {
  width: em(18, 16);
  height: em(18, 16);
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social__link, .footer__contact-link {
  border-radius: 50%;
}

.footer__contact-svg {
  padding: em(20, 16);
}

.footer__right {
  display: flex;
  width: 100%;
  gap: em(80, 16);
}
