.footer__top {
  background-color: #313030;
  padding: 70px 0;
}

.footer__container {
  display: flex;
  justify-content: flex-start;
}

.footer__container > * {
  margin-right: 190px;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.footer__social {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background: #262626;
  transition: background .3s cubic-bezier(.25, .46, .45, .94);
}

.footer__social:focus, .footer__social:hover {
  background: #3F3F3F;
}

.footer__logo {
  width: 140px;
  height: 70px;
}

.footer__title {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 26px;
  margin-bottom: 20px;
}

.footer__link {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7C7A7A;
  font-size: 16px;
  line-height: 27px;
  display: block;
  margin-bottom: 17px;
  transition: color .3s cubic-bezier(.25, .46, .45, .94)
}

.footer__link:hover {
  color: #C0C0C0;
}

/*BOTTOM*/
.footer__bottom {
  padding: 20px 0;
  background-color: #262626;
}

.footer__legals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__legals, .footer__legals a {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsla(0, 0%, 100%, .6);
  font-size: 13px;
  margin-right: 16px;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
  line-height: 26px;
}

.footer__legal:hover {
  color: #FFFFFF;
}

.footer__hepl {
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.footer__hepl .hepl__link {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: hsla(0,0%,100%,.6);
}

.footer__hepl:hover .hepl__link {
  color: #FFFFFF;
}