.form {
  padding: em(100, 16) em(40, 16);
  position: relative;
  z-index: 10;
  background: #FFFFFF;
  opacity: 0;
  transform: translateY(1.25em);
}

.form__group--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: em(60, 16);
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;
  //gap: em(60, 16) em(20, 16);
}

.form__group--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: em(1, 16);
  width: em(1, 16);
  margin: em(-1, 16);
  padding: 0;
  border: 0;
}

.form__label {
  font-size: em(27, 16);
  line-height: em(43, 27);
  margin-bottom: em(14, 27);
  display: inline-block;
  border-bottom: em(2, 27) solid transparent;
  transition: color .2s cubic-bezier(.25, .46, .45, .94), border-bottom-color .2s cubic-bezier(.25, .46, .45, .94);
}

.form__textfield {
  position: relative;
}

.form__textarea, .form__textinput {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  width: 100%;
  font-size: em(18, 16);
  line-height: em(16, 18);
  background: transparent;
  -webkit-appearance: none;
  min-height: em(32, 18);
  margin-bottom: em(5, 18);
  z-index: 2;
}

.form__textarea {
  resize: none;
  height: em(196, 18);
  margin-top: em(30, 18);
}

.form__textborder {
  left: 0;
  z-index: 2;
  border-bottom: em(1, 16) solid transparent;
  height: 100%;
  width: 100%;
}

.form__textborder, .form__textborder:before {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.form__textborder:before {
  content: "";
  left: em(3, 16);
  height: 30%;
  width: 70%;
  border-bottom: em(1, 16) solid #C8C8C8;
  border-right: em(1, 16) solid #C8C8C8;
  transform: skew(-25deg);
  z-index: 4;
  transition: border-color .2s cubic-bezier(.25, .46, .45, .94)
}

#subject .form__textborder:before {
  width: 100%;
  left: em(20, 16);
}

.form__textinput:hover + .form__textborder:before {
  border-color: #3F3F3F;
}

.form__textarea:focus + .form__textborder:before, .form__textinput:focus + .form__textborder:before {
  border-color: #DCF000;
}

.form__label:hover {
  border-color: #DCF000;
}

.form__navigator {
  margin-top: em(40, 16);
  display: flex;
  justify-content: space-between;
}

.form__control {
  padding: em(16, 16) em(21, 16) em(19, 16);
}

.form__control:hover, .form__control:focus {
  background-color: #F2F2F2;
  border-radius: em(40, 16);
}

.form__control--submit, .form__control--submit:hover, .form__control--submit:focus {
  border: none;
  background-color: #DCF000;
  border-radius: em(40, 16);
}

.form__controltext {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: em(13, 16);
  color: #3F3F3F;
  position: relative;
  z-index: 2;
}

.form__control--right .form__controltext {
  margin-right: em(10, 16);
  transition: margin-right .2s cubic-bezier(.25, .46, .45, .94);
}

.form__control--left .form__controltext {
  margin-left: em(10, 16);
  transition: margin-left .2s cubic-bezier(.25, .46, .45, .94);
}

.form__control--right:hover .form__controltext, .form__control--right:focus .form__controltext {
  margin-right: em(20, 16);
}

.form__control--left:hover .form__controltext, .form__control--left:focus .form__controltext {
  margin-left: em(20, 16);
}

.form__img svg {
  height: em(10, 16);
  fill: #3F3F3F;
}

.form__control--hidden {
  display: none;
}

.form__control--disabled, .form__control--disabled .form__controltext, .form__control--disabled svg {
  pointer-events: none;
  color: #C8C8C8;
  fill: #C8C8C8;
}

.required:after {
  content: "*";
  margin-left: em(5, 27);
}

::placeholder {
  color: #C8C8C8;
}