.form {
  padding: 100px 40px;
  position: relative;
  z-index: 10;
  background: #FFFFFF;
}

.form__group--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
}

.form__group--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form__label {
  font-size: 27px;
  line-height: 43px;
  margin-bottom: 14px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: color .2s cubic-bezier(.25, .46, .45, .94), border-bottom-color .2s cubic-bezier(.25, .46, .45, .94);
}


.form__textfield {
  position: relative;
}

.form__textarea {
  resize: none;
  height: 196px;
  margin-top: 30px;
}

.form__textarea, .form__textinput {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  width: 100%;
  font-size: 18px;
  line-height: 16px;
  background: transparent;
  -webkit-appearance: none;
  min-height: 32px;
  margin-bottom: 5px;
  z-index: 2;
}

.form__textborder {
  left: 0;
  z-index: 2;
  border-bottom: 1px solid transparent;
  height: 100%;
  width: 100%;
}

.form__textborder, .form__textborder:before {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.form__textborder:before {
  content: "";
  left: 3px;
  height: 30%;
  width: 70%;
  border-bottom: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  transform: skew(-25deg);
  z-index: 4;
  transition: border-color .2s cubic-bezier(.25, .46, .45, .94)
}

#subject .form__textborder:before {
  width: 100%;
  left: 20px;
}

.form__textinput:hover + .form__textborder:before {
  border-color: #3F3F3F;
}

.form__textarea:focus + .form__textborder:before, .form__textinput:focus + .form__textborder:before {
  border-color: #DCF000;
}

.form__label:hover {
  border-color: #DCF000;
}

.form__navigator {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.form__control {
  padding: 16px 21px 19px;
}

.form__control:hover, .form__control:focus {
  background-color: #F2F2F2;
  border-radius: 40px;
}

.form__control--submit, .form__control--submit:hover, .form__control--submit:focus {
  border: none;
  background-color: #DCF000;
  border-radius: 40px;
}

.form__controltext {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  color: #3F3F3F;
  position: relative;
  z-index: 2;
}

.form__control--right .form__controltext {
  margin-right: 10px;
  transition: margin-right .2s cubic-bezier(.25, .46, .45, .94);
}

.form__control--left .form__controltext {
  margin-left: 10px;
  transition: margin-left .2s cubic-bezier(.25, .46, .45, .94);
}


.form__control--right:hover .form__controltext, .form__control--right:focus .form__controltext {
  margin-right: 20px;
}

.form__control--left:hover .form__controltext, .form__control--left:focus .form__controltext {
  margin-left: 20px;
}

.form__img svg {
  height: 10px;
  fill: #3F3F3F;
}

.form__control--hidden {
  display: none;
}

.form__control--disabled, .form__control--disabled .form__controltext, .form__control--disabled svg {
  pointer-events: none;
  color: #C8C8C8;
  fill: #C8C8C8;
}