.header {
  height: em(145, 16);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: em(50, 16);
  margin: 0 em(50, 16);
}

.header__container, .header__left, .header__mobile {
  display: flex;
  align-items: center;
}

.header__mobile {
  justify-content: space-between;
  width: 100%;
}
.nav__link {
  display: inline-block;
  color: #FFFFFF;
  padding: em(7, 16) em(10, 16);
  position: relative;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
  margin-left: em(10, 16);
}

.nav__link--active {
  border: em(1, 16) solid #7C7A7A;
  border-radius: em(50, 16);
}

.nav__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #7C7A7A;
  border-radius: em(50, 16);
  transition: transform .3s cubic-bezier(.075, .82, .165, 1), opacity .3s cubic-bezier(.25, .46, .45, .94), background .3s cubic-bezier(.25, .46, .45, .94);
  transform: scale(.2);
  opacity: 0;
}

.nav__link:hover:before, .nav__link:focus:before {
  transform: none;
  opacity: 1;
}

.nav__link--active:before {
  background: transparent;
  transform: none;
  opacity: 1;
}

.nav__link--active:hover:before, .nav__link--active:focus:before {
  background: #7C7A7A;
}

.nav__text {
  position: relative;
  z-index: 2;
}

.header__right {
  display: flex;
  gap: em(8, 16);
}

.lang {
  vertical-align: top;
  width: em(52, 16);
  text-align: center;
  padding: 0;
  border-color: #7C7A7A;
}

.lang__current {
  font-size: em(13, 16);
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
  padding: em(12, 13);
}

.header__contact {
  color: #FFFFFF;
  background-color: transparent;
  border: em(1, 16) solid #DCF000;
  transition: color .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94), opacity .3s cubic-bezier(.25, .46, .45, .94)
}

.header__contact:before {
  opacity: 1;
  background-color: #DCF000
}

.header__contact:focus, .header__contact:hover {
  color: #3F3F3F;
}

.header__contact:focus:before, .header__contact:hover:before {
  opacity: 1;
  background-color: #DCF000;
}

.toggle, .header__menu {
  display: none;
}

.header__menu:after, .header__menu:before {
  content: "";
  display: block;
  width: 1.5625em;
  height: .125em;
  background: #3F3F3F;
  transform-origin: center center;
  border-radius: .125em;
  transition: transform .3s cubic-bezier(.25, .46, .45, .94), background .3s cubic-bezier(.25, .46, .45, .94), margin .3s cubic-bezier(.25, .46, .45, .94), width .3s cubic-bezier(.25, .46, .45, .94)
}

.header__menu:after {
  margin-top: .25em
}