.hero {
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.hero__container {
  min-height: em(850, 16);
  height: 100vh;
  position: relative;
  z-index: 0;
}

.hero__inner {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  height: 100%;
}

.hero__intro {
  position: relative;
  z-index: 1;
  padding-top: em(160, 16);
}

.hero__title {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: em(80, 16);
  line-height: em(100, 80);
  color: #FFFFFF;
}

.hero__sub {
  position: relative;
  text-transform: capitalize;
}

.hero__contact {
  margin-top: em(60, 16);
}

.hero__baseline {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: em(40, 16);
  line-height: em(73, 40);
  color: #C0C0C0;
}

.hero__objectives {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: em(1, 16);
  width: em(1, 16);
  margin: em(-1, 16);
  padding: 0;
  border: 0;
}

.hero__steps {
  display: inline-block;
  vertical-align: top;
  height: em(42, 16);
  position: relative;
  transition: width .2s cubic-bezier(.25, .46, .45, .94) .18s, height .2s cubic-bezier(.25, .46, .45, .94) .18s
}

.hero__steps:after {
  content: '';
  right: 0;
  bottom: 0;
  width: 100%;
  height: em(2, 16);
  background: #DCF000
}

.hero__step {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: em(23, 16);
  line-height: em(42, 23);
  color: #FFFFFF;
  white-space: nowrap;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .2s;
  display: block;
  position: absolute;
  left: 0;
}

.hero__step--active {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .28s, visibility 0s linear .28s
}

.hero__step--active {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .28s, visibility 0s linear .28s
}

.hero__animation {
  position: absolute;
  top: em(220, 16);
  left: 0;
  right: 0;
  //bottom: 0;
  transition: opacity .3s cubic-bezier(.25,.46,.45,.94),visibility 0s linear .3s;
}

.hero--shown .hero__animation {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s cubic-bezier(.25, .46, .45, .94)
}

.hero__paths {
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  transform: translateZ(0);
}

.hero__zone {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 0;
  transition: stroke .2s cubic-bezier(.25, .46, .45, .94), fill .2s cubic-bezier(.25, .46, .45, .94), stroke-width .2s cubic-bezier(.25, .46, .45, .94), opacity .2s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .2s
}

.hero__zone--hovered {
  stroke-width: 20;
  opacity: .15;
  visibility: visible;
  transition: stroke .2s cubic-bezier(.25, .46, .45, .94), fill .2s cubic-bezier(.25, .46, .45, .94), stroke-width .2s cubic-bezier(.25, .46, .45, .94), opacity .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__zone--active, .hero__zone--previous {
  fill: #DCF000;
  stroke: #DCF000
}

.hero__stroke {
  fill: none;
  stroke: #7C7A7A;
  stroke-width: 2;
  stroke-linecap: round
}

.hero--shown .hero__stroke {
  transition: stroke-dashoffset 2s cubic-bezier(.455, .03, .515, .955)
}

.hero__progress {
  fill: none;
  stroke: #DCF000;
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke-dashoffset .3s linear;
  opacity: 1;
  display: none
}

.hero--autoplay .hero__progress {
  transition: stroke-dashoffset 4s linear
}

.hero--last .hero__progress {
  transition: stroke-dashoffset 10ms linear 3.9s, opacity .3s cubic-bezier(.25, .46, .45, .94) 3.6s;
  opacity: 0
}

.hero--ready .hero__progress {
  display: block
}

.hero__interactive {
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%
 }

.hero__interactive, .hero__point {
  display: block;
  position: absolute;
  top: 0;
  left: 0
}

.hero__point {
  font: inherit;
  padding: 0;
  border: none;
  width: em(50, 16);
  height: em(50, 16);
  border-radius: 0;
  overflow: hidden;
  margin: em(-25, 16) 0 0 em(-25, 16);
  cursor: pointer;
  z-index: 2;
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') 0 0 repeat;
}

.hero__point--visible {
  overflow: visible;
}

.hero__point--visible:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: em(12, 16);
  height: em(12, 16);
  margin: auto;
  background: #7C7A7A;
}

.hero__point--visible.hero__point--last:before {
  opacity: 0
}

.hero__point--visible.hero__point--last:before, .hero__point--visible:before {
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94), background .2s cubic-bezier(.25, .46, .45, .94)
}

.hero--shown .hero__point--visible.hero__point--last:before {
  opacity: 1;
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94) 2s, background .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__point--visible.hero__point--active:before, .hero__point--visible.hero__point--previous:before {
  opacity: 1;
  background: #DCF000;
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94), background .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__label {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 50%;
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: em(13, 16);
  text-transform: uppercase;
  letter-spacing: em(.6, 13);
  color: #FFFFFF;
  visibility: hidden;
  opacity: 0
}

.hero__point--visible .hero__label {
  transform: translate3d(-50%, em(10, 13), 0);
  transition: opacity .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .3s
}

.hero--shown .hero__point--visible .hero__label {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
  transition: opacity .3s cubic-bezier(.25, .46, .45, .94) 2.1s, transform .3s cubic-bezier(.25, .46, .45, .94) 2.1s
}

.hero__background {
  z-index: -1;
}

.hero__background, .hero__mood {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero__mood {
  display: block;
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .6s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .6s
}

.hero__mood--active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transition: opacity .6s cubic-bezier(.25, .46, .45, .94)
}

.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: .3;
  transform: scale(1.04);
  transition: transform 0s linear .6s;
}

.hero--shown .hero__mood--active .hero__img {
  transform: scale(1);
  transition: transform 4s cubic-bezier(.25, .46, .45, .94)
}

.hero__invite {
  max-width: 100vw;
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  grid-template-columns: 60% 1fr;
}

.hero__scroll-bg {
  grid-column: 2/-1;
  background: #FFFFFF;
  position: relative;
  padding: em(20, 13) em(50, 13);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__scroll-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: em(-30, 16);
  height: 100%;
  width: 60px;
  transform: skew(-25deg);
  background-color: #FFFFFF;
  border-top-left-radius: 6px;
}

.hero__scroll {
  font-size: em(13, 16);
  display: inline-block;
  position: relative;
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #A4A4A4;
  line-height: em(20, 13);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: em(1, 13);
}

.hero__scroll--animation {
  width: em(2, 16);
  height: em(30, 16);
  background: url(../../../img/dot-line-vertical.svg) repeat-y 50%;
  margin: auto 0;
  -webkit-animation: scrollInvite 3s cubic-bezier(.645, .045, .355, 1) infinite;
  animation: scrollInvite 3s cubic-bezier(.645, .045, .355, 1) infinite
}

@-webkit-keyframes scrollInvite {
  0% {
    background-position: 0 -100%
  }
  to {
    background-position: 0 100%
  }
}

@keyframes scrollInvite {
  0% {
    background-position: 0 -100%
  }
  to {
    background-position: 0 100%
  }
}