.job__img {
  height: em(700, 16);
}

.job__container {
  display: flex;
  justify-content: center;
}

.job__details, .job__text {
  width: em(400, 16);
  line-height: em(38, 16);
  margin-left: em(100, 16);
}