/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: hk_groteskregular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/hkgrotesk-regular.woff2?73de515557968fef7cbd497871249cb6) format("woff2"), url(../fonts/hkgrotesk-regular.woff?11b821c8f3568b9bf3ffb4503045d88a) format("woff"), url(../fonts/hkgrotesk-regular.ttf?5806dbd18d86d35a33e031a5ca5bc813) format("truetype")
}

@font-face {
    font-family: hk_grotesksemibold;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/hkgrotesk-semibold.woff2?0483b97a280cc1702314403260ffaa32) format("woff2"), url(../fonts/hkgrotesk-semibold.woff?d7aaeba2dfef88c06d6b2ddbc10aa433) format("woff"), url(../fonts/hkgrotesk-semibold.ttf?1ceea5a17dccbea3d1e12cc8d35ed7e7) format("truetype")
}

@font-face {
    font-family: hk_groteskitalic;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/hkgrotesk-italic.woff2?bcb9d48b1a756abeebddbc888853977f) format("woff2"), url(../fonts/hkgrotesk-italic.woff?fa8e3ca8ddacce593cb6e2b60475021e) format("woff"), url(../fonts/hkgrotesk-italic.ttf?83c9cd5497cd5b9307a91b98a5473741) format("truetype")
}

@font-face {
    font-family: hk_groteskbold;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/hkgrotesk-bold.woff2?f663c78845c7c06d7a4905586578b5d6) format("woff2"), url(../fonts/hkgrotesk-bold.woff?102586d12c41d632a08c5455e9d3275f) format("woff"), url(../fonts/hkgrotesk-bold.ttf?d45e72b806ee4799d382db800f4ad6b3) format("truetype")
}

@font-face {
    font-family: hk_grotesklight_italic;
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/hkgrotesk-lightitalic.woff2?a5def164f847999bdf37fa45bda3783f) format("woff2"), url(../fonts/hkgrotesk-lightitalic.woff?e77254da0a0f4e6de21395ab39f4d1b3) format("woff"), url(../fonts/hkgrotesk-lightitalic.ttf?04bdad64415f28386d68a875594364fe) format("truetype")
}

@font-face {
    font-family: hk_groteskmedium;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/hkgrotesk-medium.woff2?ba30a4d69bab5ddd913984100deacd4e) format("woff2"), url(../fonts/hkgrotesk-medium.woff?35d57376bb3ad029ad04c1d6ce25e5c0) format("woff"), url(../fonts/hkgrotesk-medium.ttf?a2484d930b0951e8d4a8ddb932e5fea9) format("truetype")
}

@font-face {
    font-family: hk_grotesklight;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/hkgrotesk-light.woff2?4b19da2070fa0e0b997837f86b554cee) format("woff2"), url(../fonts/hkgrotesk-light.woff?e40498bcef598844a08098f55a352aa8) format("woff"), url(../fonts/hkgrotesk-light.ttf?2e243cbcc4e841a9974a73de41c8bb9e) format("truetype")
}
.hero__animation {
  display: none;
}

html * {
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
  max-width: 100vw;
}

body {
  background-color: #FFFFFF;
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3F3F3F;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.no-js .js-only {
  display: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  width: 0.0625em;
  margin: -0.0625em;
  padding: 0;
  border: 0;
}

.pre {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #7C7A7A;
  font-size: 0.8125em;
  letter-spacing: 0.0769230769em;
  margin-bottom: 1em;
  margin-left: 4.6153846154em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.pre:after {
  content: "";
  display: block;
  width: 3.6153846154em;
  height: 0.1538461538em;
  background-image: url(../images/dot-line.svg?602fa6a6e19085df3460d167dc62b27b);
  background-repeat: repeat-x;
  order: -1;
}

.pre:before {
  content: attr(data-number);
  display: inline-block;
  color: #DCF000;
  background-color: #FFFFFF;
  padding: 0.6153846154em 0.4615384615em 0.6923076923em;
  border-radius: 3.8461538462em;
  order: -2;
}

.container {
  max-width: 73.125em;
  width: 100%;
  position: relative;
}

.centered {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.8333333333em;
  margin-bottom: 1.25em;
  color: #3F3F3F;
  width: 20.2083333333em;
}

.content {
  margin-left: 6.25em;
}

.text {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7C7A7A;
  line-height: 1.6875em;
}

:focus {
  outline: none;
}

.full-link {
  content: "";
  display: block;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn {
  line-height: 1.6875em;
  padding: 0.75em 1.5em;
  border-radius: 2.5em;
  display: inline-block;
}

.btn--simple {
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #3F3F3F;
  border: 0.0625em solid #3F3F3F;
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
}

.btn--simple:before {
  content: "";
  display: block;
  background-color: #3F3F3F;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
  border-radius: 2.5em;
}

.btn--simple:focus, .btn--simple:hover {
  color: #FFFFFF;
}

.btn--simple:focus:before, .btn--simple:hover:before {
  background-color: #3F3F3F;
  text-decoration: none;
  transform: none;
}

.btn--filled {
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #3F3F3F;
  background-color: #DCF000;
  transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  overflow: hidden;
  transform: perspective(0.0625em) translateZ(0);
}

.btn--filled:before {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  content: "";
  display: block;
  background-color: #FFFFFF;
  opacity: 0.3;
  border-radius: 2.5em;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  z-index: -1;
}

.btn--filled:focus:before, .btn--filled:hover:before {
  background-color: #FFFFFF;
  opacity: 0.3;
  text-decoration: none;
  transform: none;
}

.btn--stroked {
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #171F28;
  border: 0.0625em solid #DCF000;
  transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.btn--stroked:before {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  content: "";
  display: block;
  background-color: #DCF000;
  border-radius: 2.5em;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  z-index: -1;
}

.btn--stroked:focus:before, .btn--stroked:hover:before {
  background-color: #DCF000;
  text-decoration: none;
  transform: none;
}

.btn__label {
  display: block;
  text-align: center;
  transform: translateZ(0);
}

.footer__btn {
  background-color: #DCF000;
  width: 4.375em;
  height: 4.375em;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.625em 0 rgba(23, 31, 40, 0.1);
  position: fixed;
  z-index: 9;
  bottom: 1.875em;
  right: 1.875em;
}

.footer__btn img {
  width: 55%;
}

.form {
  padding: 6.25em 2.5em;
  position: relative;
  z-index: 10;
  background: #FFFFFF;
  opacity: 0;
  transform: translateY(1.25em);
}

.form__group--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3.75em;
}

.form__group--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  width: 0.0625em;
  margin: -0.0625em;
  padding: 0;
  border: 0;
}

.form__label {
  font-size: 1.6875em;
  line-height: 1.5925925926em;
  margin-bottom: 0.5185185185em;
  display: inline-block;
  border-bottom: 0.0740740741em solid transparent;
  transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-bottom-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form__textfield {
  position: relative;
}

.form__textarea, .form__textinput {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  width: 100%;
  font-size: 1.125em;
  line-height: 0.8888888889em;
  background: transparent;
  -webkit-appearance: none;
  min-height: 1.7777777778em;
  margin-bottom: 0.2777777778em;
  z-index: 2;
}

.form__textarea {
  resize: none;
  height: 10.8888888889em;
  margin-top: 1.6666666667em;
}

.form__textborder {
  left: 0;
  z-index: 2;
  border-bottom: 0.0625em solid transparent;
  height: 100%;
  width: 100%;
}

.form__textborder, .form__textborder:before {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.form__textborder:before {
  content: "";
  left: 0.1875em;
  height: 30%;
  width: 70%;
  border-bottom: 0.0625em solid #C8C8C8;
  border-right: 0.0625em solid #C8C8C8;
  transform: skew(-25deg);
  z-index: 4;
  transition: border-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#subject .form__textborder:before {
  width: 100%;
  left: 1.25em;
}

.form__textinput:hover + .form__textborder:before {
  border-color: #3F3F3F;
}

.form__textarea:focus + .form__textborder:before, .form__textinput:focus + .form__textborder:before {
  border-color: #DCF000;
}

.form__label:hover {
  border-color: #DCF000;
}

.form__navigator {
  margin-top: 2.5em;
  display: flex;
  justify-content: space-between;
}

.form__control {
  padding: 1em 1.3125em 1.1875em;
}

.form__control:hover, .form__control:focus {
  background-color: #F2F2F2;
  border-radius: 2.5em;
}

.form__control--submit, .form__control--submit:hover, .form__control--submit:focus {
  border: none;
  background-color: #DCF000;
  border-radius: 2.5em;
}

.form__controltext {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8125em;
  color: #3F3F3F;
  position: relative;
  z-index: 2;
}

.form__control--right .form__controltext {
  margin-right: 0.625em;
  transition: margin-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form__control--left .form__controltext {
  margin-left: 0.625em;
  transition: margin-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form__control--right:hover .form__controltext, .form__control--right:focus .form__controltext {
  margin-right: 1.25em;
}

.form__control--left:hover .form__controltext, .form__control--left:focus .form__controltext {
  margin-left: 1.25em;
}

.form__img svg {
  height: 0.625em;
  fill: #3F3F3F;
}

.form__control--hidden {
  display: none;
}

.form__control--disabled, .form__control--disabled .form__controltext, .form__control--disabled svg {
  pointer-events: none;
  color: #C8C8C8;
  fill: #C8C8C8;
}

.required:after {
  content: "*";
  margin-left: 0.1851851852em;
}

::-moz-placeholder {
  color: #C8C8C8;
}

::placeholder {
  color: #C8C8C8;
}

.contact--show {
  overflow: hidden;
}

.contact {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transform: translateY(1.875em);
  transition: visibility 0ms 0.3s, opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.contact--show .contact {
  visibility: visible;
  transition: visibility 0ms 0ms, opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.contact--show .contact, .contact--show .form {
  opacity: 1;
  transform: none;
}

.contact__close {
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.contact__close:hover, .contact__close:focus {
  transform: rotate(180deg);
}

.contact__logo {
  width: 6.25em;
  display: block;
}

.contact__header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact__header {
  margin-top: 3.75em;
  display: flex;
  justify-content: space-between;
  padding: 0 6.25em;
}

.contact__top {
  padding: 2em 0 4.6875em;
  background: #F2F2F2;
  position: relative;
}

.contact__container {
  max-width: 73.125em;
}

.contact__card {
  position: relative;
}

.contact__separator {
  left: -5em;
  width: 0.125em;
  min-height: 100%;
  background-image: url(../images/dot-line-vertical.svg?4813a7119a2c2656733b0efc8c410ad5);
}

.contact__text {
  width: 21.875em;
}

.contact__title {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  line-height: 1.0416666667em;
  color: #3F3F3F;
  margin-bottom: 0.3541666667em;
}

.contact__subtitle {
  text-transform: uppercase;
  color: #7C7A7A;
  font-size: 0.8125em;
  letter-spacing: 0.1153846154em;
  margin-bottom: 2.3076923077em;
}

.contact__link {
  color: #3F3F3F;
  display: block;
  line-height: 1.5625em;
  margin-top: 1.125em;
}

.contact__link:focus, .contact__link:hover {
  color: #171F28;
}

.contact__bottom {
  position: relative;
  background: #FFFFFF;
  padding-top: 1.5625em;
}

.contact__bottom:before {
  content: "";
  display: block;
  position: absolute;
  height: 4.375em;
  background-color: #F2F2F2;
  right: 0;
  top: 0;
  width: 50%;
}

.contact__bottom .container:before {
  content: "";
  display: block;
  position: absolute;
  height: 4.375em;
  width: 54.375em;
  left: 31.25em;
  top: 0;
  background-image: url(../images/gray-cutout.svg?f6ebbe440899d242a38398c4212f5b2a);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact__bottom .pre {
  overflow: hidden;
}

.contact__menu {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 10em;
  margin: 0 3.125em;
}

.contact__anchor {
  color: #7C7A7A;
  padding: 0 0 1.6875em;
  position: relative;
  display: inline-block;
  margin-right: 3.75em;
  border-bottom: 0.25em solid transparent;
  transition: border-bottom-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.contact__anchor--active, .contact__anchor:focus, .contact__anchor:hover {
  border-bottom-color: #DCF000;
  color: #3F3F3F;
}

.hero {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.hero__container {
  min-height: 53.125em;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.hero__inner {
  position: relative;
  width: 100%;
  margin-left: 5.9829059829%;
  margin-top: 12.5em;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
}

.hero__title {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
  line-height: 1.25em;
  color: #FFFFFF;
}

.hero__sub {
  margin: 2.1875em 0 5em;
  position: relative;
  text-transform: capitalize;
}

.hero__objectives {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  width: 0.0625em;
  margin: -0.0625em;
  padding: 0;
  border: 0;
}

.hero__baseline {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1.825em;
  color: #C0C0C0;
}

.hero__steps {
  display: inline-block;
  vertical-align: top;
  height: 2.625em;
  position: relative;
  transition: width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.18s, height 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.18s;
}

.hero__step {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4375em;
  line-height: 1.8260869565em;
  color: #FFFFFF;
  white-space: nowrap;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s linear 0.2s;
  display: block;
  position: absolute;
  left: 0;
}

.hero__step--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.28s, visibility 0s linear 0.28s;
}

.hero__background {
  z-index: -1;
}

.hero__background, .hero__mood {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero__mood {
  display: block;
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s linear 0.6s;
}

.hero__mood--active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transition: opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.3;
  transform: scale(1.04);
  transition: transform 0s linear 0.6s;
}

.hero--shown .hero__mood--active .hero__img {
  transform: scale(1);
  transition: transform 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__label {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 50%;
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125em;
  text-transform: uppercase;
  letter-spacing: 0.0461538462em;
  color: #FFFFFF;
  visibility: hidden;
  opacity: 0;
}

.hero__intro {
  width: 68.3760683761%;
  margin-left: 5.9829059829%;
  position: relative;
  z-index: 1;
}

.hero__interactive {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.hero__interactive, .hero__point {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__point {
  font: inherit;
  padding: 0;
  border: none;
  width: 3.125em;
  height: 3.125em;
  border-radius: 0;
  overflow: hidden;
  margin: -1.5625em 0 0 -1.5625em;
  cursor: pointer;
  z-index: 2;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}

.hero__point--visible {
  overflow: visible;
}

.hero__point--visible:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  margin: auto;
  background: #7C7A7A;
}

.hero__point--visible.hero__point--last:before, .hero__point--visible:before {
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__point--visible.hero__point--last:before {
  opacity: 0;
}

.hero--shown .hero__point--visible.hero__point--last:before {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s, background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__point--visible.hero__point--active:before, .hero__point--visible.hero__point--previous:before {
  opacity: 1;
  background: #DCF000;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__point--visible .hero__label {
  transform: translate3d(-50%, 0.7692307692em, 0);
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s linear 0.3s;
}

.hero--shown .hero__point--visible .hero__label {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s, transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s;
}

.hero--shown .hero__animation {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__animation {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 5.9829059829%;
  right: 5.9829059829%;
  bottom: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s linear 0.3s;
}

.hero__paths {
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  transform: translateZ(0);
}

.hero__zone {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 0;
  transition: stroke 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), fill 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), stroke-width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s linear 0.2s;
}

.hero__zone--hovered {
  stroke-width: 20;
  opacity: 0.15;
  visibility: visible;
  transition: stroke 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), fill 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), stroke-width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero__zone--active, .hero__zone--previous {
  fill: #DCF000;
  stroke: #DCF000;
}

.hero__stroke {
  fill: none;
  stroke: #7C7A7A;
  stroke-width: 2;
  stroke-linecap: round;
}

.hero--shown .hero__stroke {
  transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hero__progress {
  fill: none;
  stroke: #DCF000;
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s linear;
  opacity: 1;
  display: none;
}

.hero--autoplay .hero__progress {
  transition: stroke-dashoffset 4s linear;
}

.hero--last .hero__progress {
  transition: stroke-dashoffset 10ms linear 3.9s, opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3.6s;
  opacity: 0;
}

.hero--ready .hero__progress {
  display: block;
}

.hero__steps:after {
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0.125em;
  background: #DCF000;
}

.hero__step--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.28s, visibility 0s linear 0.28s;
}

.hero__invite {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hero__invite:after {
  content: "";
  display: block;
  clear: right;
}

.hero__invite:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 50vw;
  background: #FFFFFF;
}

.hero__scroll {
  font-size: 0.8125em;
  padding: 2.2307692308em 3.8461538462em;
  background: #FFFFFF;
  float: right;
  display: block;
  position: relative;
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #A4A4A4;
  line-height: 1.5384615385em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.0769230769em;
}

.hero__scroll:before {
  width: 4.8461538462em;
  right: 99%;
  background: url(../images/hero-scroll-border.svg?e78bdaffdf37d1d185025fa03294c68e) no-repeat 100%;
}

.hero__scroll:after, .hero__scroll:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.hero__scroll:after {
  width: 0.1538461538em;
  height: 2.3076923077em;
  background: url(../images/dot-line-vertical.svg?4813a7119a2c2656733b0efc8c410ad5) repeat-y 50%;
  right: 0;
  margin: auto 0;
  -webkit-animation: scrollInvite 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  animation: scrollInvite 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes scrollInvite {
  0% {
    background-position: 0 -100%;
  }
  to {
    background-position: 0 100%;
  }
}
@keyframes scrollInvite {
  0% {
    background-position: 0 -100%;
  }
  to {
    background-position: 0 100%;
  }
}
.header {
  height: 9.0625em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 3.125em;
  margin: 0 3.125em;
}

.header__container {
  max-width: 89.0625em;
}

.header__right .btn + .btn {
  margin-left: 0.5em;
}

.header__right .btn--simple:focus, .header__right .btn--simple:hover {
  color: #FFFFFF;
}

.header__container, .header__left, .header__mobile {
  display: flex;
  align-items: center;
}

.header__mobile {
  justify-content: space-between;
  width: 100%;
}

.nav__link {
  display: inline-block;
  color: #FFFFFF;
  padding: 0.4375em 0.625em;
  position: relative;
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-left: 0.625em;
}

.nav__text {
  position: relative;
  z-index: 2;
}

.nav__link--active {
  border: 0.0625em solid #7C7A7A;
  border-radius: 3.125em;
}

.nav__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #7C7A7A;
  border-radius: 3.125em;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0.2);
  opacity: 0;
}

.nav__link:hover:before, .nav__link:focus:before {
  transform: none;
  opacity: 1;
}

.nav__link--active:before {
  background: transparent;
  transform: none;
  opacity: 1;
}

.nav__link--active:hover:before, .nav__link--active:focus:before {
  background: #7C7A7A;
}

.lang {
  vertical-align: top;
  width: 3.25em;
  text-align: center;
  padding: 0;
}

.lang__current {
  font-size: 0.8125em;
  display: inline-block;
  text-transform: uppercase;
  color: #171F28;
  width: 100%;
  padding: 0.9230769231em;
}

.header .lang {
  border-color: #7C7A7A;
}

.header .lang__current {
  color: #FFFFFF;
}

.header .header__contact {
  color: #FFFFFF;
  background-color: transparent;
  border: 0.0625em solid #DCF000;
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header .header__contact:before {
  opacity: 1;
  background-color: #DCF000;
}

.header .header__contact:focus, .header .header__contact:hover {
  color: #3F3F3F;
}

.header .header__contact:focus:before, .header .header__contact:hover:before {
  opacity: 1;
  background-color: #DCF000;
}

.header__menu, .toggle {
  display: none;
}

.header__menu:after, .header__menu:before {
  content: "";
  display: block;
  width: 1.5625em;
  height: 0.125em;
  background: #3F3F3F;
  transform-origin: center center;
  border-radius: 0.125em;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), margin 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__menu:after {
  margin-top: 0.25em;
}

.about {
  padding-top: 6.25em;
}

.about__content {
  display: flex;
  justify-content: space-between;
  gap: 3.75em;
  padding: 0 0.625em;
}

.about__details {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.0625em;
  color: #3F3F3F;
  line-height: 1.6666666667em;
  margin-left: 3.0303030303em;
}

.about__details b {
  padding-bottom: 0.0833333333em;
  box-shadow: inset 0 -0.0833333333em 0 0 #DCF000;
}

.logos__list {
  width: 25em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.logos__item {
  display: flex;
  width: 100%;
  padding: 0.625em;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logos__item:nth-child(odd) {
  border-right: 0.0625em solid #F2F2F2;
}

.logos__item:nth-child(n+3) {
  border-top: 0.0625em solid #F2F2F2;
}

.logos__img {
  filter: grayscale(1);
  transition: filter 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logos__img:hover {
  filter: none;
}

.exp {
  margin-top: 6.25em;
  background-image: url(../images/dot-grid.svg?f9bc1a89f65e44b0e7b55303b367dfd0);
  background-size: 0.5em;
  position: relative;
}

.exp__controls {
  position: absolute;
  bottom: 3.125em;
  right: 55%;
  z-index: 5;
}

.exp__control {
  display: inline-block;
  height: 0.875em;
  width: 1.875em;
  border-bottom: 0.0625em solid #D4D3D3;
  margin-right: 0.4375em;
  position: relative;
  transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-width 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.exp__control:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  z-index: 2;
  height: 0.9375em;
}

.exp__control--active {
  border-color: #3F3F3F;
}

.exp__control:focus, .exp__control:hover {
  transform: translateY(0.0625em);
  border-bottom-width: 0.1875em;
}

.exp__item {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  pointer-events: none;
  padding: 1.875em 5em;
}

.exp__item--show {
  opacity: 1;
  pointer-events: all;
}

.exp__item--next {
  display: none;
}

.exp__text {
  font-family: hk_grotesklight, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5625em;
  line-height: 1.6em;
  color: #7C7A7A;
  width: 21.2em;
}

.exp__date {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-size: 4.25em;
  width: 2.2058823529em;
  text-align: center;
  line-height: 1.4705882353em;
}

.skills, .job {
  background-color: #F2F2F2;
  max-width: 100vw;
  padding-top: 6.25em;
}

.skills__list {
  list-style: decimal inside;
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.skills__item {
  transition: color ease-in-out 0.2s;
  cursor: pointer;
}

.skills__item:hover {
  color: #383838;
}

.skills__item::marker {
  transition: font-size ease-in-out 0.2s;
}

.skills__item:hover::marker {
  font-size: 1.125em;
}

.skills__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 7.5em;
}

.skills__graph {
  display: flex;
  width: 25em;
  height: 22.5em;
  justify-content: space-between;
}

.skills__bar {
  background-color: #FFFFFF;
  width: 2.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.skills__bar:before {
  content: attr(data-number);
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #DCF000;
  margin-bottom: 0.375em;
  z-index: 1;
}

.skills__bar--gray:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #383838;
  width: 100%;
  height: 100%;
  -webkit-animation: growBar 2s;
          animation: growBar 2s;
}

.div1:before, .div4:before {
  height: 66%;
}

.div2:before {
  height: 88%;
}

.div5:before {
  height: 77%;
}

.div7:before {
  height: 57%;
}

@-webkit-keyframes growBar {
  from {
    height: 0;
  }
}

@keyframes growBar {
  from {
    height: 0;
  }
}
.job__img {
  height: 43.75em;
}

.job__container {
  display: flex;
  width: 100%;
}

.job__details, .job__text {
  line-height: 2.375em;
}

.projects__content {
  padding: 6.25em 6.25em 1.25em;
  margin-left: 8.4375em;
}

.projects__fig:hover + .projects__content .projects__btn:before {
  background-color: #DCF000;
  text-decoration: none;
  transform: none;
}

.projects__container {
  padding: 0 6.25em 6.25em;
}

.projects__title {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1.625em;
  color: #3F3F3F;
  max-width: 10.75em;
}

.projects__list {
  display: flex;
  gap: 2.1875em;
}

.project__fig {
  background-color: #262626;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
  transform: scale(1.04);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.project__link:hover + .project__fig .project__img {
  transform: scale(1);
  transition: transform 4s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0.4;
}

.projects__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.project__name {
  font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
  font-size: 2.1875em;
  text-align: center;
  margin-top: 1.4285714286em;
}

.projects__fig {
  max-height: 100%;
  position: absolute;
}

.projects {
  position: relative;
}

.projects__img {
  display: block;
  width: 100vw;
  height: 31.25em;
  opacity: 0.3;
  -o-object-fit: cover;
  object-fit: cover;
}

.projects__contact {
  text-align: center;
  position: relative;
  margin-top: 3.125em;
}

.projects__contact:before {
  content: "";
  display: block;
  background-color: #F2F2F2;
  width: 100%;
  height: 0.0625em;
  position: absolute;
  top: 75%;
}

.projects__btn {
  margin: 3.125em 0;
}

.projects__contact-btn {
  margin-top: 3.125em;
  box-shadow: 0 0 0 1.875em #FFFFFF;
  text-align: center;
}

.footer__top {
  background-color: #313030;
  padding: 4.375em 0;
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  gap: 11.875em;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.875em;
  max-width: 8.75em;
}

.footer__social {
  display: block;
  width: 2.5em;
  height: 2.5em;
  padding: 0.625em;
  border-radius: 50%;
  background: #262626;
  transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer__social:focus, .footer__social:hover {
  background: #3F3F3F;
}

.footer__logo {
  width: 8.75em;
  height: 4.375em;
}

.footer__title {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8125em;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1076923077em;
  line-height: 2em;
  margin-bottom: 1.5384615385em;
}

.footer__link {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7C7A7A;
  line-height: 1.6875em;
  display: block;
  margin-bottom: 1.0625em;
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.footer__link:hover {
  color: #C0C0C0;
}

.footer__bottom {
  padding: 1.25em 0;
  background-color: #262626;
}

.footer__legals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__hepl, .footer__legals a {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsla(0deg, 0%, 100%, 0.6);
  font-size: 0.8125em;
  margin-right: 1.2307692308em;
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  line-height: 2em;
}

.footer__legal:hover {
  color: #FFFFFF;
}

.footer__hepl .hepl__link {
  font-size: 1em;
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: hsla(0deg, 0%, 100%, 0.6);
}

.footer__hepl:hover .hepl__link {
  color: #FFFFFF;
}

.socials-svg {
  width: 1.125em;
  height: 1.125em;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social__link, .footer__contact-link {
  border-radius: 50%;
}

.footer__contact-svg {
  padding: 1.25em;
}

.footer__right {
  display: flex;
  width: 100%;
  gap: 5em;
}

/* MEDIA QUERIES */
/*460px*/
/*640px*/
/*760px*/
/*920px*/
@media (max-width: 924px) {
  .job__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 2.5em;
    gap: 1.875em;
  }
  .job__text, .job__title {
    line-height: 1.625em;
  }
  .projects__content {
    margin-left: 0;
  }
  .about__content {
    flex-direction: column;
  }
  .about__details {
    max-width: 18.1818181818em;
  }
  .about__logos {
    align-self: center;
  }
  .exp__item {
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
  }
  .exp__controls {
    position: unset;
  }
  .exp__slider {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 2.5em;
  }
  .exp__date {
    width: 100%;
  }
  .centered {
    align-items: start;
  }
  .skills__flex {
    flex-direction: column;
    gap: 3.75em;
  }
  .skills__graph {
    align-self: center;
  }
  .footer__container {
    flex-direction: column;
    padding: 0 8.75em;
    gap: 3.125em;
  }
  .footer__bottom {
    padding: 1.25em;
  }
  .contact__header-nav {
    padding: 1.25em 3.125em;
  }
  .contact__header {
    flex-direction: column;
    gap: 1em;
  }
  .contact__separator {
    min-width: 100%;
    height: 2px;
    background-image: url(../images/dot-line.svg?602fa6a6e19085df3460d167dc62b27b);
  }
}
/*1200px*/
@media (max-width: 1200px) {
  .header__menu {
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #DCF000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: auto;
    left: auto;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    transform-origin: center center;
    transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .toggle {
    position: fixed;
    top: auto;
    left: auto;
    right: 35px;
    bottom: 35px;
  }
  .header__mobile {
    background-color: #3F3F3F;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 50px;
    gap: 5px;
  }
  .nav__link {
    font-family: hk_grotesklight, serif;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    color: #C0C0C0;
    /*opacity: 0;*/
    /*transform: translateY(-.625em);*/
    /*transition: opacity .2s cubic-bezier(.25,.46,.45,.94) 0ms,transform .3s cubic-bezier(.25,.46,.45,.94) 0ms;*/
  }
  .nav__link--active {
    border: none;
  }
  .lang {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: none;
  }
  .header__right {
    margin-left: 0;
  }
  .header__contact {
    width: 280px;
  }
  .toggle:checked ~ .header__menu {
    background: #4A4A4A;
    transform: rotate(180deg);
  }
  .toggle:checked ~ .header__menu:before {
    margin-bottom: -0.125em;
    transform: rotate(53deg);
    width: 1.125em;
    background-color: #FFFFFF;
  }
  .toggle:checked ~ .header__menu:after {
    margin-top: 0;
    transform: rotate(-53deg);
    width: 1.125em;
    background-color: #FFFFFF;
  }
  .toggle:checked ~ .header__mobile {
    opacity: 1;
  }
  .header--expanded {
    overflow: hidden;
  }
  .footer__btn {
    display: none;
    opacity: 0;
  }
}
