body:before {
    content: "This website is under construction.";
    display: block;
    padding: 10px;
    text-align: center;
}


/*TEMPORAIRE*/
html * {
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    height: 100%;
    min-height: 100%;
    max-width: 100vw;
}

body {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3F3F3F;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.pre {
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #7C7A7A;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 13px;
    margin-left: 59px;
}

.pre:after {
    content: "";
    display: block;
    width: 47px;
    height: 2px;
    background-image: url(img/dot-line.svg);
    background-repeat: repeat-x;
    position: absolute;
    left: 42px;
    top: 15px;
}

.pre:before {
    content: attr(data-number);
    display: inline-block;
    color: #DCF000;
    margin-right: 73px;
    background-color: #FFFFFF;
    padding: 8px 6px 9px;
    border-radius: 50px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 30px;
    color: #3F3F3F;
    margin-left: 100px;
    width: 485px;
}

.text {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7C7A7A;
    line-height: 1.6875em;
}

.required:after {
    content: "*";
    margin-left: 5px;
}

::placeholder {
    color: #C8C8C8;
}

:focus {
    outline: none;
}

/*A PROPOS*/
.about {
    padding-top: 100px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__details {
    /*width: 485px;*/
}

.about__details {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    color: #3F3F3F;
    line-height: 55px;
}

.about__details b {
    padding-bottom: 2.0625px;
    box-shadow: inset 0 -2.0625px 0 0 #DCF000
}

.logos__list {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-left: 100px;
}

.logos__item {
    display: flex;
    width: 100%;
    /*border: 1px solid #F2F2F2;*/
    padding: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logos__item:nth-child(odd) {
    border-right: 1px solid #F2F2F2;
}

.logos__item:nth-child(n+3) {
    border-top: 1px solid #F2F2F2;
}

.logos__img {
    filter: grayscale(1);
    transition: filter .3s cubic-bezier(.25, .46, .45, .94), -webkit-filter .3s cubic-bezier(.25, .46, .45, .94)
}


.logos__img:hover {
    filter: none;
}

/*PARCOURS*/

.exp {
    margin-top: 100px;
    background-image: url(img/dot-grid.svg);
    background-size: 8px;
    position: relative;
}

.exp__controls {
    position: absolute;
    bottom: 50px;
    left: 700px;
    z-index: 5
}

.exp__control {
    display: inline-block;
    height: 14px;
    width: 30px;
    border-bottom: 1px solid #D4D3D3;
    margin-right: 7px;
    position: relative;
    transition: border-color .3s cubic-bezier(.25, .46, .45, .94), border-width .2s cubic-bezier(.25, .46, .45, .94), transform .2s cubic-bezier(.25, .46, .45, .94)
}

.exp__control:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 2;
    height: 15px;
}

.exp__control--active {
    border-color: #3F3F3F
}

.exp__control:focus, .exp__control:hover {
    transform: translateY(1px);
    border-bottom-width: 3px;
}

.exp__item {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    pointer-events: none;
    padding: 30px 80px;
}

.exp__item--show {
    opacity: 1;
    pointer-events: all;
}

.exp__item--next {
    display: none;
}

.exp__text {
    font-family: hk_grotesklight, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    color: #7C7A7A;
    width: 530px;
}

.exp__date {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-size: 68px;
    width: 150px;
    text-align: center;
    line-height: 100px;
}

/*COMPETENCES*/
.skills, .job {
    background-color: #F2F2F2;
    max-width: 100vw;
    padding-top: 100px;
}

.skills__grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1000px;
}

.skills__list {
    list-style: decimal;
    display: inline-block;
    margin-left: 116px;
}

.skills__item + .skills__item {
    margin-top: 28px;
}

.skills__graph {
    display: flex;
    width: 400px;
    height: 360px;
    justify-content: space-between;
}

.skills__bar {
    background-color: #FFFFFF;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.skills__bar:before {
    content: attr(data-number);
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    display: inline-block;
    color: #DCF000;
    margin-bottom: 6px;
    z-index: 1;
}

.skills__bar--gray:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #383838;
    width: 40px;
    height: 100%;
    animation: growBar 2s;
}

.div1:before, .div4:before {
    height: 66%;
}
.div2:before {
    height: 88%;
}
.div5:before {
    height: 77%;
}
.div7:before {
    height: 57%;
}

@keyframes growBar {
    from {
        height: 0;
    }
}

/*JOB IDEAL*/
.job__img {
    height: 700px;
}

.job__container {
    display: flex;
    justify-content: center;
}

.job__details, .job__text {
    width: 400px;
    line-height: 38px;
    margin-left: 100px;
}

/*LANGUAGES*/
.languages__container {
    padding: 100px;
}

.languages__title {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 65px;
    color: #3F3F3F;
    width: 430px;
}

.languages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 200px;
}

.languages__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

[alt="PHP"]{
    margin-bottom: 80px;
}

.languages__name {
    font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}

.languages__fig {
    max-height: 100px;
    position: absolute;
    z-index: -1;
}

.languages {
    position: relative;
}

.languages__img {
    display: block;
    width: 100vw;
    height: 500px;
    opacity: .3;
    -o-object-fit: cover;
    object-fit: cover;
}

.languages__content {
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.languages__content:before {
    content: "";
    display: block;
    background-color: #F2F2F2;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 75%;
}

.languages__btn {
    margin: 50px 0;
}

.languages__contact {
    margin-top: 50px;
    box-shadow: 0 0 0 30px #FFFFFF;
    padding: 0 20px;
    text-align: center;
}

/*CONTACT*/
/*TOP*/
.contact__top {
    padding: 32px 0 75px;
    background: #F2F2F2;
}

.contact__flex {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin-top: 60px;
}

.contact__card {
    width: 325px;
    position: relative
}

.contact__card:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -80px;
    width: 2px;
    background-image: url(img/dot-line-vertical.svg)
}

.contact__text {
    width: 350px;
}

.contact__title {
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    line-height: 50px;
    color: #3F3F3F;
    margin-bottom: 17px;
}

.contact__subtitle {
    text-transform: uppercase;
    color: #7C7A7A;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.contact__link {
    color: #3F3F3F;
    display: block;
    line-height: 25px;
    margin-top: 18px;
}

.contact__link:focus, .contact__link:hover {
    color: #171F28;
}

/*BOTTOM*/
.contact__bottom {
    position: relative;
    background: #FFFFFF;
    padding-top: 25px;
}

.contact__bottom:before {
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    background-color: #F2F2F2;
    right: 0;
    top: 0;
    width: 50%;
}

.contact__bottom .container:before {
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    width: 870px;
    left: 500px;
    top: 0;
    background-image: url(img/gray-cutout.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.contact__bottom .pre {
    margin-left: 0;
    display: block;
    width: 30%;
    margin-bottom: 15px;
    overflow: hidden;
}

.contact__nav {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 9;
    width: 50%;
    text-align: left;
    margin-top: 23px;
    margin-right: 120px;
    /*visibility: hidden*/
}

.contact__anchor {
    color: #7C7A7A;
    padding: 0 0 27px;
    position: relative;
    display: inline-block;
    margin-right: 60px;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color .2s cubic-bezier(.25, .46, .45, .94), color .2s cubic-bezier(.25, .46, .45, .94)
}


.contact__anchor--active, .contact__anchor:focus, .contact__anchor:hover {
    border-bottom-color: #DCF000;
    color: #3F3F3F;
}


/*FORMULAIRE*/
.form {
    padding: 100px 40px;
    position: relative;
    z-index: 10;
    background: #FFFFFF;
}

.form__group--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
}

.form__group--hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.form__label {
    font-size: 27px;
    line-height: 43px;
    margin-bottom: 14px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: color .2s cubic-bezier(.25, .46, .45, .94), border-bottom-color .2s cubic-bezier(.25, .46, .45, .94);
}


.form__textfield {
    position: relative;
}

.form__textarea {
    resize: none;
    height: 196px;
    margin-top: 30px;
}

.form__textarea, .form__textinput {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    width: 100%;
    font-size: 18px;
    line-height: 16px;
    background: transparent;
    -webkit-appearance: none;
    min-height: 32px;
    margin-bottom: 5px;
    z-index: 2;
}

.form__textborder {
    left: 0;
    z-index: 2;
    border-bottom: 1px solid transparent;
    height: 100%;
    width: 100%;
}

.form__textborder, .form__textborder:before {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.form__textborder:before {
    content: "";
    left: 3px;
    height: 30%;
    width: 70%;
    border-bottom: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    transform: skew(-25deg);
    z-index: 4;
    transition: border-color .2s cubic-bezier(.25, .46, .45, .94)
}

#subject .form__textborder:before {
    width: 100%;
    left: 20px;
}

.form__textinput:hover + .form__textborder:before {
    border-color: #3F3F3F;
}

.form__textarea:focus + .form__textborder:before, .form__textinput:focus + .form__textborder:before {
    border-color: #DCF000;
}

.form__label:hover {
    border-color: #DCF000;
}

.form__navigator {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.form__control {
    padding: 16px 21px 19px;
}

.form__control:hover, .form__control:focus {
    background-color: #F2F2F2;
    border-radius: 40px;
}

.form__control--submit, .form__control--submit:hover, .form__control--submit:focus {
    border: none;
    background-color: #DCF000;
    border-radius: 40px;
}

.form__controltext {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    color: #3F3F3F;
    position: relative;
    z-index: 2;
}

.form__control--right .form__controltext {
    margin-right: 10px;
    transition: margin-right .2s cubic-bezier(.25, .46, .45, .94);
}

.form__control--left .form__controltext {
    margin-left: 10px;
    transition: margin-left .2s cubic-bezier(.25, .46, .45, .94);
}


.form__control--right:hover .form__controltext, .form__control--right:focus .form__controltext {
    margin-right: 20px;
}

.form__control--left:hover .form__controltext, .form__control--left:focus .form__controltext {
    margin-left: 20px;
}

.form__img svg {
    height: 10px;
    fill: #3F3F3F;
}

.form__control--hidden {
    display: none;
}

.form__control--disabled, .form__control--disabled .form__controltext, .form__control--disabled svg {
    pointer-events: none;
    color: #C8C8C8;
    fill: #C8C8C8;
}


/*FOOTER*/
/*TOP*/

.footer__top {
    background-color: #313030;
    padding: 70px 0;
}

.footer__container {
    display: flex;
    justify-content: flex-start;
}

.footer__container > * {
    margin-right: 190px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.footer__social {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background: #262626;
    transition: background .3s cubic-bezier(.25, .46, .45, .94);
}

.footer__social:focus, .footer__social:hover {
    background: #3F3F3F;
}

.footer__logo {
    width: 140px;
    height: 70px;
}

.footer__title {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;
    font-style: normal;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    line-height: 26px;
    margin-bottom: 20px;
}

.footer__link {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7C7A7A;
    font-size: 16px;
    line-height: 27px;
    display: block;
    margin-bottom: 17px;
    transition: color .3s cubic-bezier(.25, .46, .45, .94)
}

.footer__link:hover {
    color: #C0C0C0;
}

/*BOTTOM*/
.footer__bottom {
    padding: 20px 0;
    background-color: #262626;
}

.footer__legals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__legals, .footer__legals a {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsla(0, 0%, 100%, .6);
    font-size: 13px;
    margin-right: 16px;
    transition: color .3s cubic-bezier(.25, .46, .45, .94);
    line-height: 26px;
}

.footer__legal:hover {
    color: #FFFFFF;
}

.footer__hepl {
    font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.footer__hepl .hepl__link {
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    font-weight: 700;
}