html * {
    box-sizing: border-box
}

body, html {
    height: 100%;
    min-height: 100%;
    max-width: 100vw;
}

body {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3F3F3F;
    overflow-x: hidden;
}

:focus {
    outline: none
}

a {
    text-decoration: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {
    max-width: 73.125em;
    width: 100%;
    position: relative;
    /*margin: 0 auto;*/
    margin: auto 50px;
}

.wysiwyg {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7C7A7A;
    line-height: 1.6875em;
}

.skills__list {
    list-style: decimal;
}

/*BOUTONS*/
.btn {
    font-size: 1em;
    line-height: 1.6875em;
    padding: .5625em 1.5625em .75em;
    border-radius: 2.5em;
    display: inline-block;
}

.btn--simple {
    font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #3F3F3F;
    border: .0625em solid #3F3F3F;
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
}

.btn--simple:before {
    content: "";
    display: block;
    background-color: #3F3F3F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform .3s cubic-bezier(.25, .46, .45, .94);
    z-index: -1;
    border-radius: 2.5em
}

.btn--simple:focus, .btn--simple:hover {
    color: #FFFFFF
}

.btn--simple:focus:before, .btn--simple:hover:before {
    background-color: #3F3F3F;
    text-decoration: none;
    transform: none
}

.btn--volt {
    font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #3F3F3F;
    background-color: #DCF000;
    transition: background .3s cubic-bezier(.25, .46, .45, .94);
    position: relative;
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
}

.btn--volt:before {
    transition: transform .3s cubic-bezier(.25, .46, .45, .94);
    content: "";
    display: block;
    background-color: #FFFFFF;
    opacity: .3;
    border-radius: 2.5em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    z-index: -1;
}

.btn--volt:focus:before, .btn--volt:hover:before {
    background-color: #FFFFFF;
    opacity: .3;
    text-decoration: none;
    transform: none;
}

.btn__label {
    display: block;
    text-align: center;
    transform: translateZ(0);
}

.btn--bv-dark {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #171F28;
    border: .0625em solid #DCF000;
    transition: background .3s cubic-bezier(.25, .46, .45, .94);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.btn--bv-dark:before {
    transition: transform .3s cubic-bezier(.25, .46, .45, .94);
    content: "";
    display: block;
    background-color: #DCF000;
    border-radius: 2.5em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    z-index: -1;
}

.btn--bv-dark:focus:before, .btn--bv-dark:hover:before {
    background-color: #DCF000;
    text-decoration: none;
    transform: none;
}


/* HEADER */
.header {
    height: 9.0625em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 3.125em;
    margin: 0 50px;
}

.header__logo {
    margin-top: .3125em;
    float: left;
    position: relative;
    z-index: 11;
    fill: #FFFFFF;
}

.header__right {
    text-align: right;
    position: absolute;
    right: 0
}

.header__right .btn {
    vertical-align: top;
    border-color: #D4D3D3;

}

.header__right .btn + .btn {
    margin-left: .5em
}

.header--light .header__right .btn--simple:focus, .header--light .header__right .btn--simple:hover {
    color: #FFFFFF;
}

/*LANGUES*/
.lang {
    vertical-align: top;
    width: 3.25em;
    text-align: center;
    padding: 0
}

.lang__current {
    display: inline-block;
    text-transform: uppercase;
    color: #171F28;
    font-size: .83125em;
    width: 100%;
    padding: .6766917293em 0 .9022556391em;
}

.header--light .lang {
    border-color: #7C7A7A
}

.header--light .lang__current {
    color: #FFFFFF
}


/*CONTACT*/
.header--light .header__contact {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #DCF000;
    transition: color .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94), opacity .3s cubic-bezier(.25, .46, .45, .94)
}

.header--light .header__contact:before {
    opacity: 1;
    background-color: #DCF000
}

.header--light .header__contact:focus, .header--light .header__contact:hover {
    color: #3F3F3F
}

.header--light .header__contact:focus:before, .header--light .header__contact:hover:before {
    opacity: 1;
    background-color: #DCF000
}

/*NAV*/
.nav {
    margin-top: .625em;
    margin-left: 1.5625em;
    float: left
}

.nav__link {
    display: inline-block;
    padding: .25em .625em .625em;
    position: relative;
    transition: color .3s cubic-bezier(.25, .46, .45, .94)
}

.nav__link + .nav__link {
    margin-left: .625em
}

.nav__text {
    color: #FFFFFF;
    vertical-align: -.125em;
    position: relative;
    z-index: 2
}

.nav__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F2F2F2;
    border-radius: .9375em;
    transition: transform .3s cubic-bezier(.075, .82, .165, 1), opacity .3s cubic-bezier(.25, .46, .45, .94), background .3s cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
    transform: scale(.2)
}

.header--light .nav__link:before {
    background: #7C7A7A
}

.nav__link--active:before {
    background: transparent;
    border: 1px solid #DDDDDD;
    transform: none;
    opacity: 1
}

.header--light .nav__link--active:before {
    background: transparent;
    border-color: #7C7A7A
}

.nav__link--active:focus:before, .nav__link--active:hover:before {
    background: #F2F2F2
}

.header--light .nav__link--active:focus:before, .header--light .nav__link--active:hover:before {
    background: #7C7A7A
}

.nav__link:focus, .nav__link:hover {
    color: #313030
}

.header--light .nav__link:focus, .header--light .nav__link:hover {
    color: #FFFFFF
}

.nav__link:focus:before, .nav__link:hover:before {
    transform: none;
    opacity: 1
}

/*FIN DU HEADER*/

/* ANIMATION */
.hero {
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.hero__container {
    min-height: 53.125em;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.hero__inner {
    position: relative;
    width: 100%;
    margin-left: 5.9829059829%;
    margin-top: 200px;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
}


.hero__title {
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    line-height: 1.2552301255em;
    color: #FFFFFF;
}

.hero__sub {
    margin: 35px 0 80px;
    position: relative;
    text-transform: capitalize;
}

.hero__objectives {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hero__baseline {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 1.8260869565em;
    color: #C0C0C0;
}

.hero__steps {
    display: inline-block;
    vertical-align: top;
    height: 2.625em;
    position: relative;
    transition: width .2s cubic-bezier(.25, .46, .45, .94) .18s, height .2s cubic-bezier(.25, .46, .45, .94) .18s
}

.hero__step {
    font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4375em;
    line-height: 1.8260869565em;
    color: #FFFFFF;
    white-space: nowrap;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .2s;
    display: block;
    position: absolute;
    left: 0;
}

.hero__step--active {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .28s, visibility 0s linear .28s
}

.hero__background {
    z-index: -1;
}

.hero__background, .hero__mood {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero__mood {
    display: block;
    background-color: #000000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: opacity .6s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .6s
}

.hero__mood--active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: opacity .6s cubic-bezier(.25, .46, .45, .94)
}

.hero__img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .3;
    transform: scale(1.04);
    transition: transform 0s linear .6s;
}

.hero--shown .hero__mood--active .hero__img {
    transform: scale(1);
    transition: transform 4s cubic-bezier(.25, .46, .45, .94)
}

.hero__label {
    position: absolute;
    display: block;
    bottom: 100%;
    left: 50%;
    font-family: hk_groteskmedium, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: .83125em;
    text-transform: uppercase;
    letter-spacing: .0526315789em;
    color: #FFFFFF;
    visibility: hidden;
    opacity: 0
}

.hero__intro {
    width: 68.3760683761%;
    margin-left: 5.9829059829%;
    position: relative;
    z-index: 1
}

.hero__interactive {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.hero__interactive, .hero__point {
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.hero__point {
    font: inherit;
    padding: 0;
    border: none;
    width: 3.125em;
    height: 3.125em;
    border-radius: 0;
    overflow: hidden;
    margin: -1.5625em 0 0 -1.5625em;
    cursor: pointer;
    z-index: 2;
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat
}

.hero__point--visible {
    overflow: visible
}

.hero__point--visible:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    width: .625em;
    height: .625em;
    margin: auto;
    background: #7c7a7a
}

.hero__point--visible.hero__point--last:before, .hero__point--visible:before {
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94), background .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__point--visible.hero__point--last:before {
    opacity: 0
}

.hero--shown .hero__point--visible.hero__point--last:before {
    opacity: 1;
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94) 2s, background .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__point--visible.hero__point--active:before, .hero__point--visible.hero__point--previous:before {
    opacity: 1;
    background: #dcf000;
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94), background .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__point--visible .hero__label {
    transform: translate3d(-50%, 10px, 0);
    transition: opacity .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .3s
}

.hero--shown .hero__point--visible .hero__label {
    visibility: visible;
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
    transition: opacity .3s cubic-bezier(.25, .46, .45, .94) 2.1s, transform .3s cubic-bezier(.25, .46, .45, .94) 2.1s
}

.hero--shown .hero__animation {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.25, .46, .45, .94)
}

.hero__animation {
    transition: opacity .3s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .3s
}

.hero__paths {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateZ(0);
}

.hero__zone {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0;
    transition: stroke .2s cubic-bezier(.25, .46, .45, .94), fill .2s cubic-bezier(.25, .46, .45, .94), stroke-width .2s cubic-bezier(.25, .46, .45, .94), opacity .2s cubic-bezier(.25, .46, .45, .94), visibility 0s linear .2s
}

.hero__zone--hovered {
    stroke-width: 20;
    opacity: .15;
    visibility: visible;
    transition: stroke .2s cubic-bezier(.25, .46, .45, .94), fill .2s cubic-bezier(.25, .46, .45, .94), stroke-width .2s cubic-bezier(.25, .46, .45, .94), opacity .2s cubic-bezier(.25, .46, .45, .94)
}

.hero__zone--active, .hero__zone--previous {
    fill: #dcf000;
    stroke: #dcf000
}

.hero__stroke {
    fill: none;
    stroke: #7c7a7a;
    stroke-width: 2;
    stroke-linecap: round
}

.hero--shown .hero__stroke {
    transition: stroke-dashoffset 2s cubic-bezier(.455, .03, .515, .955)
}

.hero__progress {
    fill: none;
    stroke: #dcf000;
    stroke-width: 2;
    stroke-linecap: round;
    transition: stroke-dashoffset .3s linear;
    opacity: 1;
    display: none
}

.hero--autoplay .hero__progress {
    transition: stroke-dashoffset 4s linear
}

.hero--last .hero__progress {
    transition: stroke-dashoffset 10ms linear 3.9s, opacity .3s cubic-bezier(.25, .46, .45, .94) 3.6s;
    opacity: 0
}

.hero--ready .hero__progress {
    display: block
}

.hero__steps:after {
    content: "";
    right: 0;
    bottom: 0;
    width: 100%;
    height: .125em;
    background: #dcf000
}

.hero__step--active {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94) .28s, visibility 0s linear .28s
}

/*FIN ANIMATION*/

/*-----ONGLET POUR EN SAVOIR PLUS-----*/
.hero__invite {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}

.hero__invite:after {
    content: "";
    display: block;
    clear: right
}

.hero__invite:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 50vw;
    background: #FFFFFF
}

.hero__scroll {
    padding: 2.2556390977em 3.7593984962em;
    background: #FFFFFF;
    float: right;
    display: block;
    position: relative;
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #A4A4A4;
    font-size: .83125em;
    line-height: 1.5037593985em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .0751879699em
}

.hero__scroll:before {
    width: 4.8120300752em;
    right: 99%;
    background: url(img/hero-scroll-border.svg) no-repeat 100%
}

.hero__scroll:after, .hero__scroll:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0
}

.hero__scroll:after {
    width: .1503759398em;
    height: 2.2556390977em;
    background: url(img/dot-line-vertical.svg) repeat-y 50%;
    right: 0;
    margin: auto 0;
    -webkit-animation: scrollInvite 3s cubic-bezier(.645, .045, .355, 1) infinite;
    animation: scrollInvite 3s cubic-bezier(.645, .045, .355, 1) infinite
}

@-webkit-keyframes scrollInvite {
    0% {
        background-position: 0 -100%
    }
    to {
        background-position: 0 100%
    }
}

@keyframes scrollInvite {
    0% {
        background-position: 0 -100%
    }
    to {
        background-position: 0 100%
    }
}
/*-----FIN ONGLET POUR EN SAVOIR PLUS-----*/

.pre {
    font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #7C7A7A;
    font-size: .83125em;
    letter-spacing: .0751879699em;
    position: relative;
    margin-bottom: .977443609em
}

.pre:after {
    content: "";
    display: block;
    width: 3.5338345865em;
    height: .1503759398em;
    background-image: url(img/dot-line.svg);
    background-repeat: repeat-x;
    position: absolute;
    left: 3.1578947368em;
    top: 1.1278195489em;
}

.pre:before {
    content: attr(data-number);
    display: inline-block;
    color: #DCF000;
    margin-right: 73px;
    background-color: #FFFFFF;
    padding: 8px 6px 9px;
    border-radius: 50px;
}

.title {
    font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.725em;
    line-height: 1.5942028986em;
    margin-bottom: 1.0869565217em;
    color: #3F3F3F
}

.skills, .job {
    background-color: #F2F2F2;
}


/*.logos__item {*/
/*    width: 50%;*/
/*    height: 7.6875em;*/
/*    display: block;*/
/*    float: left;*/
/*    border-bottom: .0625em solid #f2f2f2;*/
/*    position: relative;*/
/*    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat*/
/*}*/

/*.logos__item:nth-child(odd) {*/
/*    border-right: .0625em solid #f2f2f2*/
/*}*/

/*.logos__item:last-child, .logos__item:nth-last-child(2):nth-child(odd) {*/
/*    border-bottom: none*/
/*}*/

/*.logos__item:focus .logos__img, .logos__item:hover .logos__img {*/
/*    -webkit-filter: grayscale(0);*/
/*    filter: grayscale(0);*/
/*    opacity: 1*/
/*}*/

/*.logos__item--faded .logos__img {*/
/*    opacity: .2 !important;*/
/*    -webkit-filter: grayscale(10) !important;*/
/*    filter: grayscale(10) !important*/
/*}*/

/*.logos__img {*/
/*    -webkit-filter: grayscale(10);*/
/*    filter: grayscale(10);*/
/*    opacity: .2;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    transition: opacity .3s cubic-bezier(.25, .46, .45, .94), -webkit-filter .3s cubic-bezier(.25, .46, .45, .94);*/
/*    transition: opacity .3s cubic-bezier(.25, .46, .45, .94), filter .3s cubic-bezier(.25, .46, .45, .94);*/
/*    transition: opacity .3s cubic-bezier(.25, .46, .45, .94), filter .3s cubic-bezier(.25, .46, .45, .94), -webkit-filter .3s cubic-bezier(.25, .46, .45, .94)*/
/*}*/


