@import '_reset.css';
@import 'fonts.css';

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/*TEMPORAIRE*/
.hero__animation {
  display: none;
}

/*------------------*/

html * {
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
  max-width: 100vw;
}

body {
  background-color: #FFFFFF;
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3F3F3F;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.no-js .js-only {
  display: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: em(1, 16);
  width: em(1, 16);
  margin: em(-1, 16);
  padding: 0;
  border: 0;
}

.pre {
  font-family: hk_groteskbold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #7C7A7A;
  font-size: em(13, 16);
  letter-spacing: em(1, 13);
  margin-bottom: em(13, 13);
  //margin-left: em(60, 13);
  display: flex;
  align-items: center;
  align-self: start;
  gap: em(13, 13);
}

.pre:after {
  content: '';
  display: block;
  width: em(47, 13);
  height: em(2, 13);
  background-image: url(../../img/dot-line.svg);
  background-repeat: repeat-x;
  order: -1;
}

.pre:before {
  content: attr(data-number);
  display: inline-block;
  color: #DCF000;
  background-color: #FFFFFF;
  padding: em(8, 13) em(6, 13) em(9, 13);
  border-radius: em(50, 13);
  order: -2;
}

.container {
  //max-width: em(1170, 16);
  width: 100%;
  position: relative;
}

.centered {
  padding-left: em(140, 16);
  padding-right: em(140, 16);
}

.title {
  font-family: hk_grotesksemibold, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: em(24, 16);
  line-height: em(44, 24);
  margin-bottom: em(30, 24);
  color: #3F3F3F;
  width: em(485, 24);
}

.content {
  margin-left: em(40, 16);
}

.text {
  font-family: hk_groteskregular, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #7C7A7A;
  line-height: em(27, 16);
}

:focus {
  outline: none;
}

.full-link {
  content: '';
  display: block;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-logo-mobile {
  display: none;
}

@import 'partials/buttons';
@import 'partials/contact';
@import 'partials/hero';
@import 'partials/header';
@import 'partials/about';
@import 'partials/exp';
@import 'partials/skills';
@import 'partials/job';
@import 'partials/projects';
@import 'partials/footer';

/* MEDIA QUERIES */
//body:before {
//  content: "default size";
//  background-color: #D7B6FF;
//  width: 100%;
//  height: 15px;
//  font-size: 11px;
//  z-index: 20;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//@media (min-width: 1480px) {
//  body:before {
//    content: "min-width: 1480px";
//    background-color: lightgreen;
//  }
//}
//
//@media (max-width: 1199px) {
//  body:before {
//    content: "max-width: 1199px";
//    background-color: lightblue;
//  }
//}
//
//@media (max-width: 945px) {
//  body:before {
//    content: "max-width: 945px";
//    background-color: lightseagreen;
//  }
//}
//
//@media (max-width: 759px) {
//  body:before {
//    content: "max-width: 759px";
//    background-color: lightsalmon;
//  }
//}
//
//@media (max-width: 639px) {
//  body:before {
//    content: "max-width: 639px";
//    background-color: lightcoral;
//  }
//}
//
//@media (max-width: 479px) {
//  body:before {
//    content: "max-width: 479px";
//    background-color: lightpink;
//  }
//}


/*1480px*/
@media (min-width: 1480px) {
  .centered {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .hero__intro {
    font-size: 1vw;
  }

  .form__group--grid {
    row-gap: em(120, 16);
  }

  .footer__container {
    gap: 30vw;
  }

  .footer__right {
    gap: 10vw;
  }
}

/*1199px*/
@media (max-width: 1199px) {
  .toggle {
    position: fixed;
    top: auto;
    left: auto;
    right: 35px;
    bottom: 35px;
  }

  .header__mobile {
    background-color: #3F3F3F;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .25s cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
    visibility: hidden;
  }

  .header__menu {
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #DCF000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: auto;
    left: auto;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    transform-origin: center center;
    transition: background .3s cubic-bezier(.25, .46, .45, .94), transform .3s cubic-bezier(.25, .46, .45, .94);
  }

  .header__right {
    margin-left: 0;
  }

  .header__contact {
    width: 280px;
  }

  .toggle:checked ~ .header__mobile {
    opacity: 1;
    visibility: visible;
  }

  .toggle:checked ~ .header__menu {
    background: #4A4A4A;
    transform: rotate(180deg);
  }

  .toggle:checked ~ .header__menu:before {
    margin-bottom: -.125em;
    transform: rotate(53deg);
    width: 1.125em;
    background-color: #FFFFFF;
  }

  .toggle:checked ~ .header__menu:after {
    margin-top: 0;
    transform: rotate(-53deg);
    width: 1.125em;
    background-color: #FFFFFF;
  }

  .header--expanded {
    overflow: hidden;
  }

  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 50px;
    gap: 5px;
  }

  .nav__link {
    font-family: hk_grotesklight, serif;
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    color: #C0C0C0;
    /*opacity: 0;*/
    /*transform: translateY(-.625em);*/
    /*transition: opacity .2s cubic-bezier(.25,.46,.45,.94) 0ms,transform .3s cubic-bezier(.25,.46,.45,.94) 0ms;*/
  }

  .nav__link--active {
    border: none;
  }

  .lang {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: none;
  }

  .about__content {
    flex-direction: column;
  }

  .exp__slider {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: em(40, 16);
  }

  .exp__item {
    flex-direction: column;
    gap: em(20, 16);
  }

  .exp__controls {
    position: unset;
  }

  .exp__date {
    text-align: start;
    width: 100%;
  }

  .exp__text {
    width: 100%;
  }

  .job__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: em(30, 16);
  }

  .job__text {
    line-height: em(26, 16);
  }

  .contact__menu {
    grid-template-columns: 50% 1fr;
  }

  .contact__nav {
    padding-left: em(60, 16);
  }

  .footer__btn {
    display: none;
    opacity: 0;
  }
}

/*945px*/
@media (max-width: 945px) {
  .centered {
    align-items: start;
    padding-left: em(80, 16);
    padding-right: em(80, 16);
  }

  .hero__intro {
    width: 100%;
    padding-left: em(120, 16);
    padding-right: em(120, 16);
  }

  .hero__invite {
    grid-template-columns: 30% 1fr;
  }

  .about__details {
    max-width: em(600, 33);
  }

  .about__logos {
    align-self: center;
  }

  .skills__flex {
    flex-direction: column;
    gap: em(60, 16);
  }

  .skills__graph {
    align-self: center;
  }

  .projects__content {
    margin-left: 0;
  }

  .contact__header-nav {
    padding: em(20, 16) em(50, 16);
  }

  .contact__header {
    flex-direction: column;
    gap: em(30, 16);
  }

  .contact__separator {
    min-width: 100%;
    height: 2px;
    background-image: url(../../img/dot-line.svg);
  }

  .contact__menu {
    margin: 0;
    grid-template-columns: 60% 1fr;
  }

  .contact__text {
    width: 100%;
  }

  .contact__bottom:before {
    width: 50%;
  }

  .contact__anchor {
    margin-right: 0;
    display: none;
  }

  .contact__anchor--active {
    display: inline-block;
  }

  .form__group.form__group--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: em(30, 16);
  }

  .form__group {
    padding: 0 em(50, 16);
  }

  .form__group--grid .form__textfield:last-child {
    grid-column: 1/-1;
  }

  .form__textborder:before {
    width: 100%;
  }

  .footer__bottom {
    padding: em(20, 16);
  }
}

/*759px*/
@media (max-width: 759px) {
  body {
    font-size: em(14, 16);
  }

  .hero__container {
    min-height: 100vh;
  }

  .hero__invite {
    display: flex;
    justify-content: center;
  }

  .hero__scroll-bg {
    background-color: transparent;
  }

  .hero__scroll {
    color: #FFFFFF;
    font-size: em(12, 14);
  }

  .hero__scroll-bg:before, .hero__scroll--animation {
    display: none;
  }

  .title {
    font-size: em(22, 14);
    width: 100%;
    max-width: 100%;
  }

  .content {
    margin-left: 0;
  }

  .skills__flex {
    padding-right: 0;
  }

  .skills__list {
    max-height: em(200, 14);
    flex-wrap: wrap;
  }

  .job__container {
    gap: em(60, 14);
  }

  .job__right {
    padding: 0;
  }

  .job__content {
    max-width: 100%;
  }

  .contact__menu {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact__menu:before {
    display: none;
  }

  .contact__menu > * {
    padding-left: em(50, 16);
    padding-right: 0;
  }

  .contact__nav {
    padding: 0;
    display: flex;
    width: auto;
    text-align: left;
    z-index: 20;
  }

  .contact__anchor {
    display: inline-block;

    width: 50%;
    position: relative;
    height: .125em;
    padding: 0;
    text-indent: -62.4375em;
  }

  .contact__anchor:after {
    content: '';
    display: block;
    width: .5625em;
    height: .5625em;
    border-radius: 50%;
    background: #DCF000;
    position: absolute;
    z-index: 2;
    left: auto;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    opacity: 1;
  }

  .contact__anchor--active {
    border: none;
  }

  .contact__progress {
    position: absolute;
    right: 0;
    left: 0;
    height: .1875em;
    background-color: #DCF000;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s cubic-bezier(.25, .46, .45, .94);
  }

  .contact__expander {
    display: block;
  }

  .contact__card {
    display: none;
  }

  .contact__expander--expanded .contact__card {
    display: block;
  }

  .contact__separator {
    display: none;
  }

  .footer__container {
    flex-direction: column;
    gap: em(50, 14);
  }
}

/*639px*/
@media (max-width: 639px) {
  .centered {
    padding-left: em(20, 14);
    padding-right: em(20, 14);
  }

  .home-logo-mobile {
    display: block;
  }

  .home-logo-desktop {
    display: none;
  }

  .about {
    padding-top: em(60, 14);
  }

  .projects__fig {
    height: 100%;
  }

  .projects__container {
    padding-top: em(40, 14);
  }

  .projects__list {
    flex-direction: column;
    gap: em(60, 14);
  }

  .projects__item {
    gap: em(20, 14);
  }

  .project__name {
    margin: 0;
    text-align: start;
  }

  .form {
    padding: em(40, 14) 0;
  }

  .form__group--grid {
    display: flex;
    flex-direction: column;
  }

  .form__control:not(.form__control--disabled, .form__control--submit) {
    background-color: #F2F2F2;
    border-radius: em(40, 14);
  }

  .form__control--submit {
    background-color: #DCF000;
    border-radius: em(40, 16);
  }

  .footer__right {
    gap: em(160, 14);
  }

  .footer__legals, .footer__links {
    flex-direction: column;
    align-items: center;
  }

  .footer__hepl {
    font-size: em(15, 14);
    margin-top: em(16, 14);
    margin-right: 0;
  }
}

/*479px*/
@media (max-width: 479px) {
  .pre:before {
    display: none;
  }

  .pre:after {
    left: 0;
    top: em(6, 14);
    width: em(30, 14);
  }

  .hero__inner {
    display: flex;
    align-items: center;
  }

  .hero__intro {
    padding-top: 0;
  }

  .hero__title {
    font-size: em(50, 14);
  }

  .hero__sub {
    font-size: em(12, 14);
  }

  .hero__animation {
    display: none;
  }

  .hero__invite {
    justify-content: start;
  }

  .hero__scroll-bg {
    padding-left: em(20, 14);
  }

  .form__group {
    padding: 0 em(10, 14);
  }

  .contact__menu > p {
    padding-left: em(24, 14);
  }

  .footer__right {
    flex-direction: column;
    gap: em(30, 14);
  }
}